result/
code/
runner/satori.exe
runner/satori.tmp
runner/koishi.exe
runner/koishi.tmp
humanrunner/koishiin.txt
humanrunner/satoriin.txt
humanrunner/satorimap.txt
humanrunner/koishimap.txt
humanrunner/satori.exe
humanrunner/koishi.exe
runner/judge.exe
runner/judge
judged.exe
source/
MinGW64/
out.txt
config.php
passwd