result/
code/
runner/satori.exe
runner/satori.tmp
runner/koishi.exe
runner/koishi.tmp
runner/judge.exe
runner/judge
humanrunner/satori.exe
humanrunner/satori.tmp
humanrunner/koishi.exe
humanrunner/koishi.tmp
humanrunner/judge.exe
humanrunner/judge
judged.exe
source/
out.txt
config.php
MinGW64/